<div class="back container">
 <%= link_to "← 戻る",:back, class: "back-link "%>
</div>

<div class="room-show container">

  
 
   
  <%if user_signed_in?%>
    <div class="reservation-form">
      <%= form_with model:@reservation, url: reservation_path do |f|%>
      <div>
        <%= f.label :checkin,"チェックイン" ,class: "form-label"%>
        <%= f.date_field :checkin, class:"form-control"%>
      </div>
      <div>
        <%= f.label :checkout,"チェックアウト",class: "form-label"%>
        <%= f.date_field :checkout , class:"form-control"%>
      </div>
      <div>
        <%= f.label :numberpeople,"人数",class: "form-label"%>
        <%= f.number_field :numberpeople ,min: 1, class:"form-control"%>
      </div>
      <%= f.hidden_field :user_id, value: @user.id %>
      
      <div class = "w-100 mt-2 pr-3 d-flex justify-content-end">
        <%= f.submit "送信", class:"btn btn-primary ml-1"%>
      </div>
      <% end %>
    </div>
  </div>
  <% else %>
  <div class="reservation-form">
      <%= form_with model:@reservation, url: confirm_reservation_path do |f|%>
      <div>
        <%= f.label :checkin,"チェックイン" ,class: "form-label"%>
        <%= f.date_field :checkin, class:"form-control"%>
      </div>
      <div>
        <%= f.label :checkout,"チェックアウト",class: "form-label"%>
        <%= f.date_field :checkout , class:"form-control"%>
      </div>
      <div>
        <%= f.label :numberpeople,"人数",class: "form-label"%>
        <%= f.number_field :numberpeople ,min: 1, class:"form-control"%>
      </div>
      <div class = "w-100 mt-2 pr-3 d-flex justify-content-end">
        <%=link_to "ログイン", new_user_session_path,class:"btn btn-primary ml-1"%>
      </div>
      <% end %>
    </div>
  <% end %>
</div>

<body>
<div class = "container w-auto">
  <div class="page-title mt-2">
    <h4>登録済み一覧</h4>
  </div>
  <table class="table align-middle OwnRoomsTable">
    <thead>
      <tr>
        <th>画像</th>
        <th>施設名</th>
        <th>住所</th>
        <th>紹介文</th>
        <th>料金</th>
        <th>作成日</th>
        <th></th>
      </tr>
    </thead>

    
</table>

</div>
<% @users.each do |user| %>
  <%= attachment_image_tag user, :profile_image, fallback: "no-image.png" %>
  <%= user.name %>
<% end %>
</body>
